{% extends 'main/base.html' %}
{% load static %}


{% block title %}
    Кадровая служба ордена Джедаев
{% endblock %}


{% block content %}

  {% include 'main/nav-tabs.html' %}

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active">

      <form action="" novalidate method="post" class="form-horizontal">

        <br>

        {% csrf_token %}

        {% for field in form %}
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {% if field.errors %}
                <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
              {% endif %}
              {{ field }}
            </div>
          </div>
        {% endfor %}

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Далее</button>
          </div>
        </div>

      </form>

    </div>

  </div>

{% endblock %}