{% extends 'main/base.html' %}


{% block title %}
    Поздравляем!
{% endblock %}


{% block content %}

  Поздравляем! Вы зачислены, как кандидат в падаваны.
  <br>
  Вашу кандидатуру в ближайшее время рассмотрят.
  <br>
  Ожидайте звонка от курирующего вашу планету Джедая.
  <br>

  <a href="/" type="button" class="btn btn-default btn-lg">
    Вернуться на главную
  </a>

{% endblock %}