{% extends 'main/base.html' %}
{% load static %}


{% block title %}
    Кадровая служба ордена Джедаев
{% endblock %}


{% block content %}

  {% include 'main/nav-tabs.html' %}

  <form action="" novalidate method="post" class="form-horizontal">

    <br>

    {% csrf_token %}

    <input type="hidden" name="candidate_id" value="{{ candidate_id }}">

    {% for field in form %}
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
          {{ field }}
        </div>
      </div>
    {% endfor %}


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Далее</button>
      </div>
    </div>

  </form>

{% endblock %}