{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% compress css %}
      <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
    {% endcompress %}

    {% block css %}{% endblock %}
</head>
<body style="padding: 20px">

{% block content %}{% endblock %}

{% compress js %}
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endcompress %}

{% block js %}{% endblock %}

</body>
</html>