{% extends 'main/base.html' %}
{% load static %}


{% block title %}
    Кандидаты Джедая "{{ jedi.name }}"
{% endblock %}


{% block content %}

  {% include 'main/nav-tabs.html' %}

  {% if candidates %}

    <br>

    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Кандидаты Джедая "{{ jedi.name }}"</h4>
        Найдено кандидатов: <b>{{ candidates|length }}</b>
      </div>
    </div>

    <table class="table">

      <thead>
        <tr>
          <th>№</th>
          <th>Имя</th>
          <th>Возраст</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

      {% for candidate in candidates %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.age }}</td>
            <td>{{ candidate.email }}</td>
            <td><a href="{{ candidate.get_absolute_url }}">Открыть</a></td>
          </tr>
      {% endfor %}

      </tbody>

    </table>

  {% else %}

    <div class="panel panel-default">
      <div class="panel-body">
        На Вашей планете кандидатов не найдено.
      </div>
    </div>

  {% endif %}

{% endblock %}