{% extends 'main/base.html' %}
{% load static %}


{% block title %}
    Кандидат в Джедаи "{{ candidate.name }}"
{% endblock %}


{% block content %}

  <h3>Информация о кандидате</h3>

  <div class="panel panel-default">
    <div class="panel-body">
      <h5><span class="label label-default">Имя</span> {{ candidate.name }}</h5>
      <h5><span class="label label-default">Возраст</span> {{ candidate.age }} лет</h5>
      <h5><span class="label label-default">Email</span> {{ candidate.email }}</h5>
    </div>
  </div>

  <h4>Результаты тестирования кандидата</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      {% for answer in answers %}
        <p>{{ answer.question }}: {{ answer.answer|yesno:"Да,Нет" }}</p>
      {% endfor %}
    </div>
  </div>

  {% if not candidate.enrolled %}
    <form action="{% url 'enroll_in_padawans' %}" method="post">

      {% csrf_token %}

      <input type="hidden" name="cid" value="{{ candidate.id }}">

      <button type="submit" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Зачислить в падаваны
      </button>

    </form>
  {% endif %}

{% endblock %}