{% extends 'main/base.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'main/homepage.js' %}"></script>
{% endblock %}


{% block title %}
    Кадровая служба ордена Джедаев
{% endblock %}


{% block content %}

  {% include 'main/nav-tabs.html' %}

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active">

      <form action="{% url 'candidate_master' %}" novalidate method="get" class="form-horizontal">

        <br>

        <div class="form-group">
          <label class="col-sm-2 control-label">{{ form.jedi.label }}</label>
          <div class="col-sm-10">
            {% if form.jedi.errors %}
              <div class="alert alert-danger" role="alert">{{ form.jedi.errors }}</div>
            {% endif %}
            {{ form.jedi }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Найти кандидатов</button>
          </div>
        </div>
      </form>

    </div>
  </div>

{% endblock %}