<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  {% url 'jedi' as the_url %}
  <li role="presentation" {% if request.path == the_url %}class="active"{% endif %}><a href="{{ the_url }}">Для Джедаев</a></li>

  {% url 'apply_as_candidate_step1' as the_url %}
  <li role="presentation" {% if request.path == the_url %}class="active"{% endif %}><a href="{{ the_url }}">Для кандидатов</a></li>
</ul>